<section class="bg-light">
	<div class="container">
		<footer class="py-5">
			<div class="row">
				<div class="col-6 col-md-3 mb-3">
					<h5>Bize Ulaşın</h5>
					<div class="col-auto">
						<div>
							<h6>Adres</h6>
							İslambey / EyüpSultan / İstanbul
						</div>
						<div>
							<h6>Email </h6>
							nisakizilkaya174@gmail.com
						</div>
						<div>
							<h6>Telefon</h6>
							05414106502
						</div>
					</div>
				</div>

				<div class="col-6 col-md-2 mb-3">
					<h5>Yıllın En Çok Satılan Marakları</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Samsung</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pierre cardin </a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Emsan</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">So Shıc</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">ebebek</a></li>
					</ul>
				</div>

				<div class="col-6 col-md-3 mb-3">
					<h5>Yıllın En Çok Satılan Kategoriler</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bilgisayar</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Telefon</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Giyim</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Yatak Nevresimi</a></li>
						<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Küpe</a></li>
					</ul>
				</div>

				<div class="col-md-4 mb-3">
					<form>
						<h5>Abone Olun</h5>
						<p>Kampanyalarda Siz Haberdar Olun</p>
						<div class="d-flex flex-column flex-sm-row w-100 gap-2">
							<label for="newsletter1" class="visually-hidden">Email</label>
							<input id="newsletter1" type="text" class="form-control" placeholder="Email">
							<button class="btn btn-primary text-nowrap" type="button">Abone Ol</button>
						</div>
					</form>
				</div>
			</div>

			<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
				<p>© 2024 Sana Uygun, Ltd. Tüm Kişilik Hakları Saklıdır..</p>
				<ul class="list-unstyled d-flex">
					<li class="ms-3">
						<a class="text-secondary" href="x.com/SanaUygun" target="_blank">
							<i class="bi bi-twitter-x"></i>
					    </a>
					</li>
					<li class="ms-3">
						<a class="text-secondary" href="instagram.com/SanaUygun" target="_blank">
							<i class="bi bi-instagram"></i>
					    </a>
					</li>
					<li class="ms-3">
						<a class="text-secondary" href="facebook.com/SanaUygun" target="_blank">
							<i class="bi bi-facebook"></i>
					    </a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
</section>
